body {
    font-family: 'Roboto';
    margin: 0;
}

.main{
    padding: 0 150px;
    flex-direction: column;
    gap: 50px;
    background-color: #1F2937;
}

.header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #FAF9F8;
}

.header-links, .hero-secondary-text {
    display: flex;
    font-size: 18px;
    gap: 20px;
    color: #E5E7EB;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 50px 0;
    gap: 50px;
    height: 600px;
}

.hero-text {
    font-size: 32px;
    font-weight: 900px;
    gap: 20px;
    color: #FAF9F8;
}

.hero-image #main-image{
    height: 500px;
    width: auto;
    background-color: grey;
}

.hero-button {
    padding: 10px 20px;
    background-color: #05953a;
    font-weight: bold;
    color: #FAF9F8;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.section-2 {
    padding: 0 150px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    gap: 50px;
    color: #1F2937;
}

.section-2-text h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 50px;
}

.images-with-subheadings {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.image-with-subheading {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.image-with-subheading h3 {
    font-size: 20px;
    font-weight: bold;
}

.image-reason img{
    width: 120px;
    height: auto;
}

.reason-subtext {
    font-size: 16px;
    color: #1F2937;
}

.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    background-color: #E5E7EB;
}

.quote {
    margin-top: 75px;
    margin-right: 300px;
    margin-left: 300px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    margin: 0px 300px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #1F2937;
}